
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thông tin đăng nhập sinh viên<nav></nav></h1>
    <div>
        <form action="https://www.google.com" method="post">
        <label for="name">Mã số sinh viên: </label><br>
        <input id="name" name = "name" type="text" value=""><br>

        <label for="pass">Mật Khẩu: </label><br>
        <input name = "pass" type="password" value=""><br>
        <input type="checkbox" name="save" id="">
        <label for="save">Lưu thông tin đăng nhập.</label><br>
        <input type="submit" value="Sign in"><br>

        <label for="save">Sử dụng thông tin đăng nhập do trường cấp, nếu quên mật khẩu thì nhấn vào <a href="/home/Repass">đây</a> </label><br>

    </form>
    <a href="C:\Users\Admin\Desktop\Lap Trinh Web\Bai1b\Bai1b\th02\src\image01.png"><img src="C:\Users\Admin\Desktop\Lap Trinh Web\Bai1b\Bai1b\th02\src\image01.png"></a>
    <a href="C:\Users\Admin\Desktop\Lap Trinh Web\Bai1b\Bai1b\th02\src\image01.png"><img src="C:\Users\Admin\Desktop\Lap Trinh Web\Bai1b\Bai1b\th02\src\image01.png"></a>
    </div>
</body>
</html>

