
@{
    ViewData["Title"] = "Repass";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
 <fieldset>
    <legend>
    Lấy lại mật khẩu:
    </legend>
    <label for="name">Mã số sinh viên: </label><br>
        <input id="name" name = "name" type="text" value=""><br>

        <label for="pass">Mật Khẩu cũ: </label><br>
        <input name = "pass" type="password" value=""><br>
        <label for="pass">Mật Khẩu mới: </label><br>
        <input name = "pass" type="password" value=""><br>
        <label for="pass">Nhập lại Mật Khẩu mới: </label><br>
        <input name = "pass" type="password" value=""><br>
        <input type="submit" value="Lưu lại"><br>

 </fieldset>   
</form>
</body>
</html>
